---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.search-content .search-input {
  font-size: 1rem;
  padding: 0.5em;
}

.search-content__inner {
  max-width: 600px;     /* 全体の最大幅を制限 */
  margin-left: auto;
  margin-right: auto;
}